h2 {{title}}
.row
  .col-xs-4
     form(role='form', novalidate, name='conditionsForm')
       .form-group
         label(for='zip') Zip
         input.form-control#zip(ng-pattern='/^[0-9]{5}$/', required, ng-model='zip', type='text', name='zip', autofocus)
       button.btn.btn-success(type='submit', ng-show='conditionsForm.$valid', ng-click='getConditions()') GET WEATHER
  .col-xs-8
    #currentconditions
      h2#temp Current Tempearture: {{tempF}} F
      h3#feelslike Feels Like: {{feelsLike}} F
      a(href='{{historyUrl}}') Weather History
